<div class="container-fluid" style="padding: 0;">
    <div class="header-banner">
    </div>
  </div>
<section class="bls-faq">
    <div class="container">
        <div class="row">
           
            <div class="col-md-8">
                <div class="bls-faq-right">
                    <div class="faq-content">
                        <h6></h6>
                    </div>

                    <section class="container">
                        <div class="accordion">
                            <h2 class="title">Frequently Asked Questions</h2>
                            <article class="accordion-panel">
                                <input id="accordion-question" name="accordion" type="radio" checked />
                                <label for="accordion-question">
                                    Is medical astrology accurate ?
                                    <img src="../../assets/image/downarrow.png" alt="" class="open">
                                    <img src="../../assets/image/xmark.svg" alt="" class="close">
                                </label>
                                <div class="accordion-body">
                                    <p class="accordion-answer">
                                        According to vedas, yes. Medical astrology is the study of how different Houses
                                        in a birth chart affect health. Every House has a ruling planet, and planets, as
                                        we know, have a major impact on health.
                                    </p>
                                </div>
                            </article>

                            <article class="accordion-panel">
                                <input id="accordion-question-2" name="accordion" type="radio" />
                                <label for="accordion-question-2">
                                    How does medical astrology works for anyone?
                                    <img src="../../assets/image/downarrow.png" alt="" class="open">
                                    <img src="../../assets/image/xmark.svg" alt="" class="close">
                                </label>
                                <div class="accordion-body">
                                    <p class="accordion-answer">
                                        Principles of medical astrology are demonstrated through genuine client-charts
                                        and informative historical examples. Explanations of philosophical principles
                                        and traditional medical techniques is also explored and demonstrated in detail
                                        during the client interaction.
                                    </p>
                                </div>
                            </article>

                            <article class="accordion-panel">
                                <input id="accordion-question-3" name="accordion" type="radio" />
                                <label for="accordion-question-3">
                                    Will my details and discussion be private?
                                    <img src="../../assets/image/downarrow.png" alt="" class="open">
                                    <img src="../../assets/image/xmark.svg" alt="" class="close">
                                </label>
                                <div class="accordion-body">
                                    <p class="accordion-answer">
                                        Absolutely, be assured of privacy and security from our end.
                                    </p>
                                </div>
                            </article>

                            <article class="accordion-panel">
                                <input id="accordion-question-4" name="accordion" type="radio" />
                                <label for="accordion-question-4">
                                    What is “ healthy with herbs’’ prediction?
                                    <img src="../../assets/image/downarrow.png" alt="" class="open">
                                    <img src="../../assets/image/xmark.svg" alt="" class="close">
                                </label>
                                <div class="accordion-body">
                                    <p class="accordion-answer">
                                        This comprehensive and thought-provoking Medical Astrology explores the link
                                        between planets, human anatomy, the signs of the zodiac, and the various healing
                                        properties of plants, to provide a complete healing modality that works with the
                                        body constitution and use this information to fine-tune your herb choices to
                                        best fit their constitution.
                                    </p>
                                    <p class="accordion-answer">
                                        These similarities and patterns are used to understand our health and emotions
                                        and guide us in the herbs for healing.
                                    </p>
                                </div>
                            </article>
                            <article class="accordion-panel">
                                <input id="accordion-question-5" name="accordion" type="radio" />
                                <label for="accordion-question-5">
                                    How does color therapy help in achieving health and harmony ?
                                    <img src="../../assets/image/downarrow.png" alt="" class="open">
                                    <img src="../../assets/image/xmark.svg" alt="" class="close">
                                </label>
                                <div class="accordion-body">
                                    <p class="accordion-answer">
                                        The practice has long been a component of Vedic astrology, which originates from
                                        India.                                    </p>
                                    <p class="accordion-answer">
                                        With the help of the charts,one determines which colours
                                    adjust to body vibrations and frequencies, resulting in health and harmony, to heal,
                                    progress into their life’s purpose and navigate through challenges.
                                    </p>
                                    <p class="accordion-answer">
                                        This also implies that each zodiac sign has its own lucky colour and ratna
                                        (gemstone) as well as unfavourable colours.</p>
                                </div>
                            </article>
                        </div>
                    </section>

                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</section>