<!--service section start-->
<section class="main-srv-section">
  <div class="container">
    <div class="main-service-box">
      <div class="service-box" routerLink="/safety-training">
        <img src="./assets/image/srv1.png" alt="">
        <h4>LIFE SUPPORT TRAINING</h4>
      </div>
      <div class="service-box" routerLink="/elderlycare">
        <img src="./assets/image/srv2.png" alt="">
        <h4>ELDERLY CARE</h4>
      </div>
      <div class="service-box" routerLink="/pregnancy-care">
        <img src="./assets/image/srv3.png" alt="">
        <h4>PREGNANCY CARE</h4>
      </div>
      <div class="service-box" routerLink="/operative-care">
        <img src="./assets/image/srv4.png" alt="">
        <h4>OPERATIVE CARE</h4>
      </div>
      <div class="service-box" routerLink="/medical-astrology">
        <img src="./assets/image/srv5.png" alt="">
        <h4>MEDICAL ASTROLOGY</h4>
      </div>
      <div class="service-box" routerLink="/doctor-consultation">
        <img src="./assets/image/srv6.png" alt="">
        <h4>DOCTOR CONSULTATION</h4>
      </div>
      <div class="service-box" routerLink="/lab-test">
        <img src="./assets/image/srv7.png" alt="">
        <h4>LAB TEST</h4>
      </div>
      <div class="service-box" routerLink="/service-comingsoon">
        <img src="./assets/image/srv8.png" alt="">
        <h4>PHARMACY</h4>
      </div>
      <div class="service-box" routerLink="/service-comingsoon">
        <img src="./assets/image/srv9.png" alt="">
        <h4>GENERAL WELLNESS</h4>
      </div>
      <div class="service-box" routerLink="/service-comingsoon">
        <img src="./assets/image/srv10.png" alt="">
        <h4>OVERSEAS SERVICES</h4>
      </div>
    </div>
  </div>
</section>