<div class="container-fluid" style="padding: 0;">
    <div class="header-banner">
    </div>
</div>

<section class="plancontent">
    <div class="main-paln">
        <div class="left-pan">
            <img src="../../assets/image/parental-banner.svg" alt="">
        </div>
        <div class="right-pan">
            <h5>Caregiver </h5>
            <p>Review</p>
            <ul class="review-start">
                <li><a href=""><img src="../../assets/image/Starrev.png" alt=""></a></li>
                <li><a href=""><img src="../../assets/image/Starrev.png" alt=""></a></li>
                <li><a href=""><img src="../../assets/image/Starrev.png" alt=""></a></li>
                <li><a href=""><img src="../../assets/image/Starrev.png" alt=""></a></li>
                <li><a href=""><img src="../../assets/image/Starrev.png" alt=""></a></li>
            </ul>
            <button class="plan-signup" (click)="showRequestcall()">Signup</button>
            <hr>
            <h6>Features</h6>
            <p>These plans are designed in consultation with experts to support, motivate and keep you healthy.</p>
        </div>
    </div>
</section>

<!--request a call popup-->

<div class="request-call" id="showcallpopup">
    <div class="sub-req-contetn">
        
        <div class="req-call-content">
        <div class="lets-talk">
            <h6>Let's Talk</h6>
            <button class="close-bnt" (click)="closeCallReq()" id="showcallpopup">X</button>
        </div>
        <div><input type="text" name="" id="" placeholder="Name" class="reqcall-input"></div>
        <div><input type="text" name="" id="" placeholder="Eamil" class="reqcall-input"></div>
        <div><input type="text" name="" id="" placeholder="Enter your Number" class="reqcall-input"></div>
        <div><input type="button" name="" value="Request a call back" id="" class="reqcall-btn"></div>
        </div>
    </div>
    
</div>