<div class="container-fluid" style="padding: 0;">
  <div class="header-banner">
  </div>
</div>
<section class="bls-faq">
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <div class="bls-faq-right">
          <div class="faq-content">
            <h6></h6>
          </div>

          <section class="container">
            <div class="accordion">
              <h2 class="title">Frequently Asked Questions</h2>
              <article class="accordion-panel">
                <input id="accordion-question" name="accordion" type="radio" checked />
                <label for="accordion-question">
                  What covid precautions does Heka Healthy You take for testing? <img
                    src="../../assets/image/downarrow.png" alt="" class="open">
                  <img src="../../assets/image/xmark.svg" alt="" class="close">
                </label>
                <div class="accordion-body">
                  <p class="accordion-answer">
                    Heka Healthy You is concerned about the safety of our patients and employees. As a result, since the
                    inception of COVID-19, we have developed a 5-step safety program to provide complete protection to
                    all stakeholders. NABL guidelines are also followed to ensure that samples do not become
                    contaminated during collection, transportation, or storage. Here are the safety precautions to which
                    we adhere: Be cautious when using face masks. Hand hygiene, including hand sanitization and glove
                    use.
                  </p>
                </div>
              </article>

              <article class="accordion-panel">
                <input id="accordion-question-2" name="accordion" type="radio" />
                <label for="accordion-question-2">
                  Are the phlebotomists adequately trained?
                  <img src="../../assets/image/downarrow.png" alt="" class="open">
                  <img src="../../assets/image/xmark.svg" alt="" class="close">
                </label>
                <div class="accordion-body">
                  <p class="accordion-answer">
                    Heka Healthy You have a dedicated training team for technicians, and they are constantly monitored
                    for parameters such as on-time arrival, painless collection, adherence to NABL guidelines for sample
                    storage and transport, and customer support. We have a very strict hiring process in place to ensure
                    that every sample collection experience is top-of-the-line.
                  </p>
                </div>
              </article>

              <article class="accordion-panel">
                <input id="accordion-question-3" name="accordion" type="radio" />
                <label for="accordion-question-3">
                  Why are lab tests necessary?
                  <img src="../../assets/image/downarrow.png" alt="" class="open">
                  <img src="../../assets/image/xmark.svg" alt="" class="close">
                </label>
                <div class="accordion-body">
                  <p class="accordion-answer">
                    Doctors recommend lab tests or diagnostic tests when they suspect something is wrong with your
                    health. When blood, stool, urine, or mucus samples are analyzed, they can reveal a lot about your
                    health. Once the problem has been identified, your doctor can make a diagnosis and either prescribe
                    medication or suggest a course of treatment.</p>
                </div>
              </article>

              <article class="accordion-panel">
                <input id="accordion-question-4" name="accordion" type="radio" />
                <label for="accordion-question-4">
                  How should a person prepare for a lab test?
                  <img src="../../assets/image/downarrow.png" alt="" class="open">
                  <img src="../../assets/image/xmark.svg" alt="" class="close">
                </label>
                <div class="accordion-body">
                  <p class="accordion-answer">
                    The requirements for various tests vary. Some tests may require you to be on an empty stomach,
                    whereas others may require you to consume food before the sample is collected. Consult your doctor
                    about what you should do to prepare for a lab test. Inform your doctor if you are currently taking
                    any medications.
                  </p>
                </div>
              </article>
              <article class="accordion-panel">
                <input id="accordion-question-5" name="accordion" type="radio" />
                <label for="accordion-question-5">
                  How long does it take to receive the report?
                  <img src="../../assets/image/downarrow.png" alt="" class="open">
                  <img src="../../assets/image/xmark.svg" alt="" class="close">
                </label>
                <div class="accordion-body">
                  <p class="accordion-answer">
                    It takes the lab 24-48 hours to prepare your report and deliver it to you.
                  </p>
                </div>
              </article>
              <article class="accordion-panel">
                <input id="accordion-question-6" name="accordion" type="radio" />
                <label for="accordion-question-6">
                  How effective is the sampling and analysis procedure?
                  <img src="../../assets/image/downarrow.png" alt="" class="open">
                  <img src="../../assets/image/xmark.svg" alt="" class="close">
                </label>
                <div class="accordion-body">
                  <p class="accordion-answer">
                    Samples are collected with extreme caution while maintaining complete hygiene. Only completely fresh
                    needles and collection kits are used. The sample is immediately placed in an icebox after collection
                    to prevent degradation and bacterial buildup, which could lead to an incorrect diagnosis. The
                    samples are barcode tagged to prevent cross-contamination, and technicians in the laboratories
                    analyze the samples using high-end, cutting-edge technology.
                  </p>
                </div>
              </article>
              <article class="accordion-panel">
                <input id="accordion-question-7" name="accordion" type="radio" />
                <label for="accordion-question-7">
                  How are lab test results interpreted?
                  <img src="../../assets/image/downarrow.png" alt="" class="open">
                  <img src="../../assets/image/xmark.svg" alt="" class="close">
                </label>
                <div class="accordion-body">
                  <p class="accordion-answer">
                    Our labs will provide you with detailed reports. There will be charts of reference ranges and a
                    statement from a qualified doctor to help you understand the report. However, once you receive your
                    report, you should consult with your doctor and ask him or her to explain it to you.
                  </p>
                </div>
              </article>
              <article class="accordion-panel">
                <input id="accordion-question-8" name="accordion" type="radio" />
                <label for="accordion-question-8">
                  Is it correct to assume that if lab test results are within the normal range, no illness has been
                  detected?
                  <img src="../../assets/image/downarrow.png" alt="" class="open">
                  <img src="../../assets/image/xmark.svg" alt="" class="close">
                </label>
                <div class="accordion-body">
                  <p class="accordion-answer">
                    It is certainly good news if your reports are within the normal range. Normal results, however, do
                    not always provide a clean bill of health. If your symptoms persist, your doctor will recommend
                    additional tests to determine what is causing the unusual symptoms.
                  </p>
                </div>
              </article>
            </div>
          </section>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</section>