<div class="container-fluid" style="padding: 0;">
  <div class="header-banner">
  </div>
</div>
<section class="bls-faq">
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <div class="bls-faq-right">
          <div class="faq-content">
            <h6></h6>
          </div>

          <section class="container">
            <div class="accordion">
              <h2 class="title">Frequently Asked Questions</h2>
              <article class="accordion-panel">
                <input id="accordion-question" name="accordion" type="radio" checked />
                <label for="accordion-question">
                  What is post-operative care? <img src="../../assets/image/downarrow.png" alt="" class="open">
                  <img src="../../assets/image/xmark.svg" alt="" class="close">
                </label>
                <div class="accordion-body">
                  <p class="accordion-answer">
                    Postoperative care is the care and treatment provided to a patient following surgery. This
                    frequently includes wound care and pain management following surgery. Naturally, the type of care
                    you will receive is determined by the type of surgery you had, your medical history, and any
                    complications that occurred following the surgery.
                  </p>
                </div>
              </article>

              <article class="accordion-panel">
                <input id="accordion-question-2" name="accordion" type="radio" />
                <label for="accordion-question-2">
                  What does post-operative care include?
                  <img src="../../assets/image/downarrow.png" alt="" class="open">
                  <img src="../../assets/image/xmark.svg" alt="" class="close">
                </label>
                <div class="accordion-body">
                  <ul class="faqlist">
                    <li>Wound care and dressing</li>
                    <li> Using pain relievers to prevent infection, alleviate symptoms, and manage pain
                    </li>
                    <li> Keeping feeding tubes, intravenous (IV) lines, and drains in place
                    </li>
                    <li> Taking blood or other fluid samples
                    </li>
                    <li> Managing a Postoperative Complication
                    </li>
                  </ul>

                </div>
              </article>

              <article class="accordion-panel">
                <input id="accordion-question-3" name="accordion" type="radio" />
                <label for="accordion-question-3">
                  Why is Postoperative Care Important?
                  <img src="../../assets/image/downarrow.png" alt="" class="open">
                  <img src="../../assets/image/xmark.svg" alt="" class="close">
                </label>
                <div class="accordion-body">
                  <p class="accordion-answer">
                    Careless mistakes can be costly when your body is still recovering. In a less severe scenario,
                    pushing yourself too soon after surgery can impede your recovery. At worst, it could reverse your
                    surgical progress or result in a medical emergency.
                  </p>
                  <p class="accordion-answer">Pay attention to your doctor's postoperative care recommendations if you
                    want to be fully healed as
                    soon as possible and avoid additional invasive procedures.</p>
                </div>
              </article>

              <article class="accordion-panel">
                <input id="accordion-question-4" name="accordion" type="radio" />
                <label for="accordion-question-4">
                  What Are the Advantages of Post-Surgery Care at Home?
                  <img src="../../assets/image/downarrow.png" alt="" class="open">
                  <img src="../../assets/image/xmark.svg" alt="" class="close">
                </label>
                <div class="accordion-body">
                  <ul class="faqlist">
                    <li>The Conveniences of Home</li>
                    <li>Assist with Daily Living Activities (ADLs)</li>
                    <li>Individualised Care Plans </li>
                    <li>Provide Physical and Emotional Support</li>
                  </ul>
                </div>
              </article>
            </div>
          </section>

        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</section>