<div class="container-fluid" style="padding: 0;">
	<div class="header-banner">
	</div>
</div>
<section class="bls-faq">
	<div class="container">
		<div class="row">

			<div class="col-md-8">
				<div class="bls-faq-right">
					<div class="faq-content">
						<h6></h6>
					</div>

					<section class="container">
						<div class="accordion">
							<h2 class="title">Frequently Asked Questions</h2>
							<article class="accordion-panel">
								<input id="accordion-question" name="accordion" type="radio" checked />
								<label for="accordion-question">
									Why this training is important for me ? <img src="../../assets/image/downarrow.png" alt=""
										class="open">
									<img src="../../assets/image/xmark.svg" alt="" class="close">
								</label>
								<div class="accordion-body">
									<p class="accordion-answer">
										This training helps participants with knowledge and skill to tackle basic life
										support techniques to save lives.
									</p>
								</div>
							</article>

							<article class="accordion-panel">
								<input id="accordion-question-2" name="accordion" type="radio" />
								<label for="accordion-question-2">
									I am not a medical person why I will take training?
									<img src="../../assets/image/downarrow.png" alt="" class="open">
									<img src="../../assets/image/xmark.svg" alt="" class="close">
								</label>
								<div class="accordion-body">
									<p class="accordion-answer">
										This training can be taken by anyone, irrespective of being a
										doctor or paramedic.
									</p>
								</div>
							</article>

							<article class="accordion-panel">
								<input id="accordion-question-3" name="accordion" type="radio" />
								<label for="accordion-question-3">
									This certificate is for life time ?
									<img src="../../assets/image/downarrow.png" alt="" class="open">
									<img src="../../assets/image/xmark.svg" alt="" class="close">
								</label>
								<div class="accordion-body">
									<p class="accordion-answer">
										The certificate is valid for a period of 2 years from the date of training.
									</p>
								</div>
							</article>

							<article class="accordion-panel">
								<input id="accordion-question-4" name="accordion" type="radio" />
								<label for="accordion-question-4">
									How long does it take to learn BLS ( Basic Life Support)and First -Aid training?
									<img src="../../assets/image/downarrow.png" alt="" class="open">
									<img src="../../assets/image/xmark.svg" alt="" class="close">
								</label>
								<div class="accordion-body">
									<p class="accordion-answer">
										This training can be completed in approximately 3 hours, including
										hands - on skills .
									</p>
								</div>
							</article>
							<article class="accordion-panel">
								<input id="accordion-question-5" name="accordion" type="radio" />
								<label for="accordion-question-5">
									What do you expect in a training session?
									<img src="../../assets/image/downarrow.png" alt="" class="open">
									<img src="../../assets/image/xmark.svg" alt="" class="close">
								</label>
								<div class="accordion-body">
									<p class="accordion-answer">
										This course includes - single and team based CPR training, AED operatives for
										adults, children and infants.
									</p>
									<p class="accordion-answer">Relief in choking and drowning Victims along with First - Aid for Burn,
										Fracture, Poisoning etc.</p>
								</div>
							</article>
							<article class="accordion-panel">
								<input id="accordion-question-6" name="accordion" type="radio" />
								<label for="accordion-question-6">
									What is an AED?
									<img src="../../assets/image/downarrow.png" alt="" class="open">
									<img src="../../assets/image/xmark.svg" alt="" class="close">
								</label>
								<div class="accordion-body">
									<p class="accordion-answer">
										Automated External Defibrillator (AED) is used on those experiencing sudden
										cardiac arrest, as it analyses heart's rhythm and delivers shock to re-
										establish normal heart rhythm. </p>
								</div>
							</article>
						</div>
					</section>

				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>
</section>