<div class="container-fluid" style="padding: 0;">
	<div class="header-banner">
	</div>
</div>
<section class="bls-faq">
	<div class="container">
		<div class="row">

			<div class="col-md-8">
				<div class="bls-faq-right">
					<div class="faq-content">
						<h6></h6>
					</div>

					<section class="container">
						<div class="accordion">
							<h2 class="title">Frequently Asked Questions</h2>
							<article class="accordion-panel">
								<input id="accordion-question" name="accordion" type="radio" checked />
								<label for="accordion-question">
									What is prenatal diet?
									<img src="../../assets/image/downarrow.png" alt="" class="open">
									<img src="../../assets/image/xmark.svg" alt="" class="close">
								</label>
								<div class="accordion-body">
									<p class="accordion-answer">
										Prenatal diet addresses nutritional recommendations for the development of a
										baby and the mother. To maintain a healthy pregnancy,a balanced diet containing
										all vital nutrients such as proteins, fruits, vegetables, and whole grains, etc
										are included to address the changed needs of the body.
									</p>
								</div>
							</article>

							<article class="accordion-panel">
								<input id="accordion-question-2" name="accordion" type="radio" />
								<label for="accordion-question-2">
									What are the benefits of taking prenatal diet from Heka?
									<img src="../../assets/image/downarrow.png" alt="" class="open">
									<img src="../../assets/image/xmark.svg" alt="" class="close">
								</label>
								<div class="accordion-body">
									<p class="accordion-answer">
										At Heka, we customize diet plans trimester-wise based on the requirement of the
										pregnant women. Before designing any plan, we keep in mind any food allergies
										that a mother might have and ensures that our plans covers all the diet-related
										issues and management throughout the pregnancy.
									</p>
								</div>
							</article>

							<article class="accordion-panel">
								<input id="accordion-question-3" name="accordion" type="radio" />
								<label for="accordion-question-3">
									How prenatal yoga is different from regular yoga?
									<img src="../../assets/image/downarrow.png" alt="" class="open">
									<img src="../../assets/image/xmark.svg" alt="" class="close">
								</label>
								<div class="accordion-body">
									<p class="accordion-answer">
										Prenatal yoga are specially designed classes with tailored poses depending on
										the bodily needs and current health status of an expectant mother. The yoga
										poses are designed, keeping in mind the ease, comfort, and stamina of the
										expecting mother.
									</p>
								</div>
							</article>

							<article class="accordion-panel">
								<input id="accordion-question-4" name="accordion" type="radio" />
								<label for="accordion-question-4">
									How will my pregnancy plan be customized?
									<img src="../../assets/image/downarrow.png" alt="" class="open">
									<img src="../../assets/image/xmark.svg" alt="" class="close">
								</label>
								<div class="accordion-body">
									<p class="accordion-answer">
										The Program will be customized in conjuction with doctors and nutritionist.
									</p>
								</div>
							</article>
							<article class="accordion-panel">
								<input id="accordion-question-5" name="accordion" type="radio" />
								<label for="accordion-question-5">
									Will I get a refund if I stop my caregiver services?
									<img src="../../assets/image/downarrow.png" alt="" class="open">
									<img src="../../assets/image/xmark.svg" alt="" class="close">
								</label>
								<div class="accordion-body">
									<p class="accordion-answer">
										In that situation, we will refund the due amount within 2-4 working days
									</p>
								</div>
							</article>
							<article class="accordion-panel">
								<input id="accordion-question-6" name="accordion" type="radio" />
								<label for="accordion-question-6">
									What will I be experiencing into Garbh Sanskar program
									<img src="../../assets/image/downarrow.png" alt="" class="open">
									<img src="../../assets/image/xmark.svg" alt="" class="close">
								</label>
								<div class="accordion-body">
									<p class="accordion-answer">
										Garbh sanskar is a spiritual program, that ensures you and your baby, are healthy.</p>
									<ul class="preg-faqlist">
										<li>• Ragas and shlokas</li>
										<li>• Womb talking (Garbhsamwad)</li>
										<li>• Garbh Uttejan, Garbh Chintan, Garbh Sangeet, Garbh Prarthana & Garbh vidhis</li>
										<li>• Yogopathy and swaatvik Ahar diet plan</li>
										<li>• Aromatherapy and Meditation</li>
										<li>• Yoga kriyas, Asans and pyrayanams</li>
									</ul>
								</div>
							</article>

						</div>
					</section>

				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>
</section>