<div class="policy-wrapper">
  <p class="p-heading">Privacy Policy</p>

  <div class="privacy-content-wrapper">
    <div class="privacy-content-heading">
      Keeping Your Information Safe
    </div>
    <div class="privacy-content">
      Heka Healthy You Private Limited and its website is the data controller in regards to all personal data
      collected on this website and through use of HHY services.
      HHY Private Limited takes the privacy of all of its customers, suppliers, and personnel very seriously
      and takes great care to protect such personal information.
      BY USING THIS WEBSITE, OUR SERVICES, AND BY GIVING YOUR INFORMATION TO US, YOU INDICATE
      YOUR CONSENT TO US USING YOUR PERSONAL INFORMATION IN ACCORDANCE WITH THIS PRIVACY
      POLICY
    </div>

    <div class="privacy-content-heading">
      Purpose of This Privacy Policy
    </div>
    <div class="privacy-content">
      This privacy policy explains what personal information HHY may collect about you, how we keep it
      secure, and how we may use it. We also explain your rights in respect of your personal information
      and how to contact us.
      THIS WEBSITE MAY, FROM TIME TO TIME, CONTAIN LINKS TO OTHER WEBSITES WHICH ARE
      PROVIDED FOR YOUR INTEREST AND CONVENIENCE. WE ARE ONLY RESPONSIBLE FOR OUR OWN
      PRIVACY AND SECURITY PRACTICES AND SUGGEST THAT YOU CHECK THE PRIVACY AND SECURITY
      POLICIES AND PROCEDURES ON EACH WEBSITE YOU VISIT.
    </div>

    <div class="privacy-content-heading">
      The Personal Information we collect
    </div>
    <div class="privacy-content">
      In order to provide you with services, we may collect personal information about you from our
      website, from telephone conversations, emails, and written and verbal communications. We would
      usually expect to keep a record of your contact details and details of any services we provide to you.
      We may also record details of any disability, health needs, or dietary requirements you may have at
      the time of booking a place on or accepting an invitation to one of our events to enable us to ensure
      your safety and comfort.
      We may supplement the information that you provide with other information that we obtain from
      our dealings with you or which we receive from other organisations, such as HHY Affiliates or
      providers of Service Content.
    </div>

    <div class="privacy-content-heading">
      Information about other people
    </div>
    <div class="privacy-content">
      If you provide information to us about any person other than yourself, for example your family
      member or other End User, you must ensure that they understand how their information will be used
      and that you are authorised to disclose it to us, and to consent to its use on their behalf before doing
      so.We currently use cookies on this website. If this changes we will update this Privacy Policy and
      provide details.
    </div>

    <div class="privacy-content-heading">
      IP Addresses
    </div>
    <div class="privacy-content">
      In order to understand how users use our website and services, we may collect IP addresses.
    </div>

    <div class="privacy-content-heading">
      How we may use Your Personal Information
    </div>
    <div class="privacy-content">
      All personal information that we obtain about you will be held, used, and protected by us in
      accordance with the latest data protection law, our terms and conditions, and this privacy policy.
    </div>


    <div class="privacy-content-heading">
      We Will Primarily Use Your Personal Information for:
    </div>
    <div class="privacy-content">
      <ul>
        <li>
          Registration and general administration, including verification, security checking, issuing
          passwords and user ID’s, and administering any account you have with us (including tracing
          and collecting any debts) as appropriate
        </li>

        <li>Providing our services to you </li>

        <li>
          Communicating with you in the event that any services requested are unavailable, if there is a
          query or problem with your requests or your use of our services
        </li>

        <li>
          To notify you (at our discretion) in the event that any of the Service – – Content you have
          accessed or downloaded is withdrawn, replaced, or incorrect, or to notify you of alternative
        </li>
      </ul>
    </div>

    <div class="privacy-content-heading">
      Service Content
    </div>
    <div class="privacy-content">
      <ul>
        <li>
          To carry out market research so that we can improve the services we offer
        </li>

        <li>To track activity on our website</li>

        <li>
          To create an individual profile for you so that we can enhance your user experience, to
          understand and respect your preferences, to provide newsletters and details of offers and
          opportunities (unless you have requested we not send these to you)
        </li>
      </ul>
    </div>



    <div class="privacy-content-heading">
      Disclosing Your Personal Information
    </div>
    <div class="privacy-content">
      In order to provide our products and services, we may occasionally appoint other organisations to
      carry out some of the processing activities on our behalf. These may include, for example, technology
      hosts, printing companies, and mailing houses. In these circumstances, we will ensure that your
      information is properly protected and that it is only used in accordance with this Privacy Policy.
    </div>

    <div class="privacy-content-heading">
      Events & Opportunities
    </div>
    <div class="privacy-content">
      From time to time, HHY and the Partners would like to contact you and/or any person whose
      information you provide to us in order to provide newsletters, information about our services, and
      details of alternative Service Content that may be of interest to you, as well as details of offers and
      opportunities (such as events) that are available, as well as a range of other initiatives in a number of
      ways, such as by mail, email, phone, fax, or SMS.

      If you and/or any other person whose information you have provided to us prefer not to receive
      information from us, please contact either your main contact at HHY or email/ write to us using the
      contact information shown below. You can change your mind at any time.
    </div>

    <div class="privacy-content-heading">
      Monitoring
    </div>
    <div class="privacy-content">
      We may monitor or record telephone calls for security purposes, to maintain a record of your
      requests, and to improve the quality of services we provide to you.
    </div>

    <div class="privacy-content-heading">
      Security of Information
    </div>
    <div class="privacy-content">
      We take the security of your personal information seriously. We have security procedures in place to
      ensure that our paper and computer systems and databases are protected against unauthorised use,
      loss, and damage.
    </div>

    <div>
      Changes to This Privacy Policy
    </div>
    <div>
      Privacy laws and practice are constantly developing and we aim to achieve high professional
      standards. Our policies and procedures are, therefore, under continual review. We may from time-totime update our
      security and privacy policies, and suggest that you check this page periodically to
      review our latest policies.
    </div>

    <div>
      Amending Your Information
    </div>
    <div>
      You may update or correct your personal information online in the relevant subscriber area or by
      contacting us in writing or by email. If you are providing updates or corrections about another person
      we may require you to provide us with proof that you are authorised to provide such information to
      us.
    </div>


    <div>
      How to Contact us
    </div>
    <div>
      If you would like any further information or have any comments regarding our privacy policy or
      practices, please contact our Data Protection Officer by any of the methods shown below:
    </div>
    <p style="margin-top: 10px;">Mail - <a href="mailto:connect@hekahealthyyou.com">connect@hekahealthyyou.com</a></p>
    <p>Heka Healthy You Private Limited</p>
  </div>
</div>