<div class="container video-container">
  <div class="row cst-video">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="bls-video-sec">
        <div class="video-image">
          <img src="../../assets/image/pregnancy-video.svg" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<!--tab section of bls-->
<div class="container">
  <div class="row cst-paregnacy-row">
    <div class="col-md-6">
      <div class="cst-tabmain">
        <div class="blstraing-enqi">
          <div class="bls-sb-heading">Pregnancy Care</div>
          <div><button class="blsenquirys" (click)="openEnquiry()">Enquiry</button></div>
        </div>
        <div class="tab-bar">
          <ul class="med-astroul">
            <li style="margin-top:0px;" (click)="tabslider(1)" [ngClass]="{'tab-active':tabId === 1}">
              Introduction</li>
            <li (click)="tabslider(2)" [ngClass]="{'tab-active':tabId === 2}">Why Choose Us</li>
            <li (click)="tabslider(3)" [ngClass]="{'tab-active':tabId === 3}">Service Information</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="tab-content-right">
        <div class="show-hide">
          <div class="container-val" *ngIf="tabId === 1">
            <ul class="introlist">
              <li>
                <div><img src="../../assets/image/pgtab-1.svg" alt="" class="introsimage"></div>
                <div>
                  <p class="introcontents">Experienced Doctors and Lamaze experts</p>
                </div>
              </li>
              <li>
                <div><img src="../../assets/image/ppgtab-2.svg" alt="" class="introsimage"></div>
                <div>
                  <p class="introcontents">Catch potential concerns early</p>
                </div>
              </li>
              <li>
                <div><img src="../../assets/image/pgtab-3.svg" alt="" class="introsimage"></div>
                <div>
                  <p class="introcontents">Reduces the risk of pregnancy and birth complications</p>
                </div>
              </li>
              <li>
                <div><img src="../../assets/image/pgtab-4.png" alt="" class="introsimage"></div>
                <div>
                  <p class="introcontents">Personalized health & lifestyle programs</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="container-val" *ngIf="tabId=== 2">
            <ul class="introlist">
              <li>
                <div><img src="../../assets/image/pgtab-5.png" alt="" class="introsimage"></div>
                <div>
                  <p class="introcontents">Planning for natural conception</p>
                </div>
              </li>
              <li>
                <div><img src="../../assets/image/pgtab-3.svg" alt="" class="introsimage"></div>
                <div>
                  <p class="introcontents">Early Pregnancy Care</p>
                </div>
              </li>
              <li>
                <div><img src="../../assets/image/pgtab-1.svg" alt="" class="introsimage"></div>
                <div>
                  <p class="introcontents">High risk Pregnancy </p>
                </div>
              </li>
              <li>
                <div><img src="../../assets/image/pgtab-6.png" alt="" class="introsimage"></div>
                <div>
                  <p class="introcontents">Prenatal Diagnosis / Neonatal Care</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="container-val" *ngIf="tabId===3">
            <swiper [config]="configtabslider" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
              <ng-template swiperSlide>
                <div class="plan-slider">
                  <div class="plan-heading">
                    <h4>3 Month Plan</h4>
                  </div>

                  <div class="plan-detail">
                    <div class="left-detail">
                      <p>Prenatal Yoga Sessions</p>
                      <p>Discount on Lab Test</p>
                      <p>Dedicated Care manager </p>
                      <p style="color:#000; font-weight:700;margin-top:15px;">Total Sessions</p>
                    </div>
                    <div class="right-detail">
                      <p>14</p>
                      <p>10%</p>
                      <p>10%</p>
                      <p style="color:#000; font-weight:700;margin-top:15px;">14</p>
                    </div>
                  </div>
                  <button class="selecpra-button" routerLink="/pregnancy-first-plan"(click)="change_route('pregnancy-first-plan')">Select Plan</button>
                </div>
              </ng-template>
              <ng-template swiperSlide>
                <div class="plan-slider">
                  <div class="plan-heading">
                    <h4>6 Month Plan</h4>
                  </div>
                  <div class="plan-detail">
                    <div class="left-detail">
                      <p>Garbhsanskar Sessions</p>
                      <p>Prenatal Yoga Sessions</p>
                      <p>Discount on Lab Test</p>
                      <p>Dedicated Care manager </p>
                      <p style="color:#000; font-weight:700;margin-top:15px;">Total Sessions</p>
                    </div>
                    <div class="right-detail">
                      <p>2</p>
                      <p>14</p>
                      <p>10%</p>
                      <p>Full</p>
                      <p style="color:#000; font-weight:700;margin-top:15px;">18</p>
                    </div>
                  </div>
                  <button class="selecpra-button" routerLink="/pregnancy-second-plan"(click)="change_route('pregnancy-second-plan')">Select Plan</button>
                </div>
              </ng-template>
              <ng-template swiperSlide>
                <div class="plan-slider">
                  <div class="plan-heading">
                    <h4>3 Month Plan</h4>
                  </div>

                  <div class="plan-detail">
                    <div class="left-detail">
                      <p>Prenatal Yoga Sessions</p>
                      <p>Discount on Lab Test</p>
                      <p>Dedicated Care manager </p>
                      <p style="color:#000; font-weight:700;margin-top:15px;">Total Sessions</p>
                    </div>
                    <div class="right-detail">
                      <p>14</p>
                      <p>10%</p>
                      <p>10%</p>
                      <p style="color:#000; font-weight:700;margin-top:15px;">14</p>
                    </div>
                  </div>
                  <button class="selecpra-button" routerLink="/pregnancy-first-plan" (click)="change_route('pregnancy-first-plan')">Select Plan</button>
                </div>
              </ng-template>
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="pagesupport">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="left-spport">
          <img src="../../assets/image/pregnancysupport.png" alt="">
        </div>
      </div>
      <div class="col-md-9">
        <div class="right-spport">
          <p>The journey from conception to childbirth and beyond is a beautiful yet intimidating one for most women.
            The lack of proper care in prenatal and postpartum stages can lead to severe complications.Heka Healthy You
            aids you in this journey, right from the planning phase to the delivery. We specialise in assisting our
            clients in high-risk pregnancies, neonatal care. Our trained experts will help you in all stages of the
            journey.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ourplan">
  <div class="container">
    <h4 class="op-main-heading">OUR PLANS</h4>
    <div class="row">
      <div class="col-md-4">
        <div class="plan-main" routerLink="/parental-care" (click)="change_route('parental-care')">
          <img src="../../assets/image/parental-banner.svg" alt="" class="oplan-image">
          <h5 class="plan-main-h5">Parental Care</h5>
          <p class="plan-main-p">Getting regular Prenatal Care,ensures that you and baby are healthy, as expected.
            Regular care, support on nutrition, fitness and emotional well being helps to catch potential concerns early
            and reduces any further health & birth complications.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="plan-main" routerLink="/post-pregnancy" (click)="change_route('post-pregnancy')">
          <img src="../../assets/image/post-pregnancy.svg" alt="" class="oplan-image">
          <h5 class="plan-main-h5">Post Pregnancy</h5>
          <p class="plan-main-p">Effective health care for a new mother is an important and continuing process, that
            begins right immediately after the delivery and extends to months of postpartum care. They are tailored to
            the needs of the mother and baby.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="plan-main" routerLink="/continuum-care" (click)="change_route('continuum-care')">
          <img src="../../assets/image/continnum.svg" alt="" class="oplan-image">
          <h5 class="plan-main-h5">Continuum care</h5>
          <p class="plan-main-p" style="font-size: 11px;">Holding a baby is euphoric for new parents. A Mother undergoes
            drastic change, mentally and physically during pregnancy and childbirth. Our plans supports rebuilding and
            regaining the strength. Emotional wellness, lactation issues etc are few concerns that any new mother seeks
            answers to. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="enroll-h-pragnancy">
  <div class="container" style="padding: 15px 0px;">
    <div class="main-health">
      <div class="health-1">
        <h5>Pregnancy <br> Care</h5>
      </div>
      <div class="health-2">
        <div class="health-preg-image">
          <img src="../../assets/image/blshealthcare.png" alt="">
        </div>
        <p class="healthdes-para">Emotional Support
        </p>
      </div>
      <div class="health-3">
        <div class="health-preg-image">
          <img src="../../assets/image/file-protection.png" alt="">
        </div>
        <p class="healthdes-para">Medical care</p>
      </div>
      <div class="health-4">
        <div class="health-preg-image">
          <img src="../../assets/image/helmet.png" alt="">
        </div>
        <p class="healthdes-para">Pregnancy Information</p>
      </div>
      <div class="health-5">
        <div class="health-preg-image">
          <img src="../../assets/image/warning.png" alt="">
        </div>
        <p class="healthdes-para">Body Exercises</p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="first-slider">
    <h3 class="sliderheading">OUR PARTNERS</h3>
    <swiper [config]="configpartner" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
      <ng-template swiperSlide>
        <img src="../../assets/image/partner2.svg" alt="" srcset="" class="imgresoiniveslider-partner">
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../assets/image/partner3.svg" alt="" srcset="" class="imgresoiniveslider-partner">
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../assets/image/partner4.svg" alt="" srcset="" class="imgresoiniveslider-partner">
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../assets/image/parnter5.svg" srcset="" class="imgresoiniveslider-partner">
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../assets/image/partner1.svg" alt="" srcset="" class="imgresoiniveslider-partner">
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../assets/image/partner6.svg" alt="" srcset="" class="imgresoiniveslider-partner">
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../assets/image/partner2.svg" alt="" srcset="" class="imgresoiniveslider-partner">
      </ng-template>
    </swiper>
  </div>
</div>

<div class="container">
  <div class="second-slider">
    <h3 class="sliderheading">NEWS ROOM</h3>
    <swiper [config]="confignews" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
      <ng-template swiperSlide>
        <img src="../../assets/image/pregnews-1.png" alt="" srcset="" class="imgresoiniveslider-news">
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../assets/image/pregnews-2.png" alt="" srcset="" class="imgresoiniveslider-news">
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../assets/image/pregnews-3.png" alt="" srcset="" class="imgresoiniveslider-news">
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../assets/image/pregnews-4.png" alt="" srcset="" class="imgresoiniveslider-news">
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../assets/image/pregnews-5.png" srcset="" class="imgresoiniveslider-news">
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../assets/image/pregnews-6.png" srcset="" class="imgresoiniveslider-news">
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../assets/image/pregnews-7.png" srcset="" class="imgresoiniveslider-news">
      </ng-template>
    </swiper>
  </div>
</div>

<!--testimonials slider-->
<div class="container">
  <div class="first-slider">
    <h3 class="sliderheadingtest">WHAT OUR CLIENTS SAY ABOUT US</h3>
    <swiper [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
      <ng-template swiperSlide>
        <div class="testimonial-main">
          <div class="photo-client-main">
            <div class="photo-client">
              <img src="../../assets/image/boytesti.png" alt="" class="client-pic">
            </div>
            <div class="feed-back">
              <h6 class="cline-name">Kailash Yadav</h6>
              <ul class="rating">
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
              </ul>
            </div>
          </div>
          <h6 class="feed-testi-heading">Best post pregnancy plan</h6>
          <p class="feed-testi-para">“We have learned so much about parenting in this program. It is a skill that does
            not always come naturally. It is very important to understand baby’s cues and provide what they need as
            parents.” Heka helps alot to understand and learn about parenting . I would recommend this program to anyone
            who is expecting a baby or parenting a young child. </p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="testimonial-main">
          <div class="photo-client-main">
            <div class="photo-client">
              <img src="../../assets/image/girl-testi.png" alt="" class="client-pic">
            </div>
            <div class="feed-back">
              <h6 class="cline-name">Ritika Kaur</h6>
              <ul class="rating">
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/blankstar.png" alt=""></li>
              </ul>
            </div>
          </div>
          <h6 class="feed-testi-heading">Best prenatal care program</h6>
          <p class="feed-testi-para">When I first found out that I was pregnant I was surprised, but also a little bit clueless to the whole new
            world that I would embark on.
          </p>
          <p class="feed-testi-para">I was into 15 week of pregnancy & never practiced yoga before. Heka yoga experts has the perfect knowledge of
            pregnancy yoga.</p>
          <p class="feed-testi-para">Thank you for creating a program like this.</p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="testimonial-main">
          <div class="photo-client-main">
            <div class="photo-client">
              <img src="../../assets/image/girl-testi.png" alt="" class="client-pic">
            </div>
            <div class="feed-back">
              <h6 class="cline-name">Sonakshi Bakshi</h6>
              <ul class="rating">
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/blankstar.png" alt=""></li>
              </ul>
            </div>
          </div>
          <h6 class="feed-testi-heading">Expert Dietician</h6>
          <p class="feed-testi-para">I am into 3rd  month of pregnancy . I was confused about what to eat and what not. 
            Then I came in contact with Heka Health You. Their dietician expert helped me a lot.
            They are very welcoming, kind, and make sure you are prepared for the unknown.
             
          </p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="testimonial-main">
          <div class="photo-client-main">
            <div class="photo-client">
              <img src="../../assets/image/boytesti.png" alt="" class="client-pic">
            </div>
            <div class="feed-back">
              <h6 class="cline-name">Kailash Yadav</h6>
              <ul class="rating">
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
              </ul>
            </div>
          </div>
          <h6 class="feed-testi-heading">Best post pregnancy plan</h6>
          <p class="feed-testi-para">“We have learned so much about parenting in this program. It is a skill that does
            not always come naturally. It is very important to understand baby’s cues and provide what they need as
            parents.” Heka helps alot to understand and learn about parenting . I would recommend this program to anyone
            who is expecting a baby or parenting a young child. </p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="testimonial-main">
          <div class="photo-client-main">
            <div class="photo-client">
              <img src="../../assets/image/girl-testi.png" alt="" class="client-pic">
            </div>
            <div class="feed-back">
              <h6 class="cline-name">Ritika Kaur</h6>
              <ul class="rating">
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/blankstar.png" alt=""></li>
              </ul>
            </div>
          </div>
          <h6 class="feed-testi-heading">Best prenatal care program</h6>
          <p class="feed-testi-para">When I first found out that I was pregnant I was surprised, but also a little bit clueless to the whole new
            world that I would embark on.
          </p>
          <p class="feed-testi-para">I was into 15 week of pregnancy & never practiced yoga before. Heka yoga experts has the perfect knowledge of
            pregnancy yoga.</p>
          <p class="feed-testi-para">Thank you for creating a program like this.</p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="testimonial-main">
          <div class="photo-client-main">
            <div class="photo-client">
              <img src="../../assets/image/girl-testi.png" alt="" class="client-pic">
            </div>
            <div class="feed-back">
              <h6 class="cline-name">Sonakshi Bakshi</h6>
              <ul class="rating">
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/feelstar.png" alt=""></li>
                <li><img src="../../assets/image/blankstar.png" alt=""></li>
              </ul>
            </div>
          </div>
          <h6 class="feed-testi-heading">Expert Dietician</h6>
          <p class="feed-testi-para">I am into 3rd  month of pregnancy . I was confused about what to eat and what not. 
            Then I came in contact with Heka Health You. Their dietician expert helped me a lot.
            They are very welcoming, kind, and make sure you are prepared for the unknown.
             
          </p>
        </div>
      </ng-template>
    </swiper>
  </div>
</div>
<!--testimonials slider-->

<!--faq section-->
<section style="background: #EBE4C8;">
  <div class="container">
    <div class="faq-wrapper">
      <div class="faq-wrapper-1">
        <h3>Got <br>Questions?</h3>
        <h5>We’d love to answer them !</h5>
        <div class="viewf-aq">
          <a href routerLink="/pregnancy-care-faq" (click)="change_route('pregnancy-care-faq')">View FAQ</a>
        </div>
      </div>
      <div class="faq-wrapper-2">
        <img src="../../assets/image/faqbannerold.svg" alt="">
      </div>
    </div>
  </div>
</section>