<div class="container">
  <div class="spacing">
    <h2 class="main-heading">ELECTRICAL SAFETY</h2>
    <p class="safety-para">
      In India, faulty electric wiring and appliances are one of the most common causes of fires in industrial and
      commercial premises, accounting for 5,000-6,000 (20%) of the 25,000-30,000 non-residential accidental fires. The
      Central Electricity Authority (CIA) data attributes nearly 40% of deaths at workplaces to electrical issues.
    </p>
  </div>
</div>


<section class="aidkit-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="right-spport">
          <p class="safety-para">Workplace accidents report nearly 13 electrocution deaths on an average day in India.
            This is the highest in the world. The annual average of electric-related deaths in the UK and the United
            States is 8 and 82 respectively.</p>
          <p class="safety-para">The CEA says 42% of the fires are due to faulty electrical systems. Majority of the
            short-circuit fires are triggered by improper wiring, poor electrical fittings and bad maintenance of wires.
            Unaware practices in offices or homes can lead to electric shocks, fires, burns to personnel, and damage to
            property.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="left-spport">
          <img src="../../assets/image/elctricalsafety.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="spacing">
    <h2 class="main-heading">ELECTRICAL NEGLIGENCE CAN RESULT IN</h2>
    <ul class="roadsafety-list">
      <li> Electrical shock injuries occur when electric current passes through the body. The person will receive a
        shock, which can result in tingling sensations, muscle and nerve damage, and even cardiac arrest.
      </li>
      <li> Electrical burns can result in injuries that vary in severity, including flash burns, flame burns, as well as
        low and high voltage burns.
      </li>
      <li> Electrocution is used to describe a fatal electrical injury and always means that the victim passed away as a
        result.
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <h2 class="main-heading">ELECTRICAL RESPONSIBILITIES</h2>
  <p class="safety-para">This course outlines understanding of the OSHA electrical safety requirements to guarantee that
    employees are able to carry out their responsibilities.</p>
  <!-- <div class="row">
    <div class="col-sm-3">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/road-saf-1.png" alt=""></div>
        <h6>Sudden Cardiac Arrests</h6>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/road-saf-2.png" alt=""></div>
        <h6>Choking</h6>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/road-saf-3.png" alt=""></div>
        <h6>Drowning</h6>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/road-saf-4.png" alt=""></div>
        <h6>Burns</h6>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/road-saf-5.png" alt=""></div>
        <h6>Slips & Strains</h6>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/road-saf-6.png" alt=""></div>
        <h6>Fractures</h6>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/road-saf-7.png" alt=""></div>
        <h6>Heat Exhaustion</h6>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/road-saf-8.png" alt=""></div>
        <h6>Allergic Reactions</h6>
      </div>
    </div>
  </div> -->

  <div class="electrical-photo">
    <div class="elctriccontent">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/electricalsafe-1.png" alt=""></div>
        <h6>Basics of Electrical Safety</h6>
      </div>
    </div>
    <div class="elctriccontent">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/electricalsafe-2.png" alt=""></div>
        <h6>Electrical Shock Hazards & Protection Measures</h6>
      </div>
    </div>
    <div class="elctriccontent">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/electricalsafe-3.png" alt=""></div>
        <h6>Electric Fires & Prevention</h6>
      </div>
    </div>
    <div class="elctriccontent">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/electricalsafe-4.png" alt=""></div>
        <h6>Earthing & Bonding</h6>
      </div>
    </div>
    <div class="elctriccontent">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/electricalsafe-5.png" alt=""></div>
        <h6>Arc Flash Hazards & Mitigation Measures</h6>
      </div>
    </div>
  </div>

  <div class="electrical-photo">
    <div class="elctriccontent">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/electricalsafe-6.png" alt=""></div>
        <h6>Electrical PPE (Personal Protection Equipment)</h6>
      </div>
    </div>
    <div class="elctriccontent">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/electricalsafe-7.png" alt=""></div>
        <h6>Electrical Equipment in Hazardous Areas</h6>
      </div>
    </div>
    <div class="elctriccontent">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/electricalsafe-8.png" alt=""></div>
        <h6>Lightning & Surge Protection</h6>
      </div>
    </div>
    <div class="elctriccontent">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/electricalsafe-9.png" alt=""></div>
        <h6>Electrical Safety Regulations in India</h6>
      </div>
    </div>
    <div class="elctriccontent">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/electricalsafe-10.png" alt=""></div>
        <h6>Implementing Electrical Safety Program in Industries</h6>
      </div>
    </div>
  </div>

</div>


<section class="booknewawssion">
  <div class="container">
    <p class="sessioncall-para">What are you waiting for?</p>
    <h4 class="sessioncall-heading">Book A Session Now</h4>
    <button class="sessioncall-btn" (click)="showRequestcall()">Schedule A Call</button>
  </div>
</section>

<!--request a call popup-->

<div class="request-call" id="showcallpopup">
  <div class="sub-req-contetn">

      <div class="req-call-content">
          <div class="lets-talk">
              <h6>Let's Talk</h6>
              <button class="close-bnt" (click)="closeCallReq()" id="showcallpopup">X</button>
          </div>
          <div><input type="text" [(ngModel)]="callInfo.name" placeholder="Name" class="reqcall-input" maxlength="26">
          </div>
          <div><input type="text" [(ngModel)]="callInfo.email" placeholder="Email" class="reqcall-input"></div>
          <div><input type="text" [(ngModel)]="callInfo.mobile" placeholder="Enter your Number" class="reqcall-input"
                  maxlength="10"></div>
          <div><button type="button" class="reqcall-btn" (click)="requestCall()">Request a call back </button></div>
      </div>
  </div>

</div>