<div class="container-fluid" style="padding: 0;">
  <div class="header-banner">
  </div>
</div>
<section class="bls-faq">
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <div class="bls-faq-right">
          <div class="faq-content">
            <h6></h6>
          </div>

          <section class="container">
            <div class="accordion">
              <h2 class="title">Frequently Asked Questions</h2>
              <article class="accordion-panel">
                <input id="accordion-question" name="accordion" type="radio" checked />
                <label for="accordion-question">
                  What is online doctor consultation?<img
                    src="../../assets/image/downarrow.png" alt="" class="open">
                  <img src="../../assets/image/xmark.svg" alt="" class="close">
                </label>
                <div class="accordion-body">
                  <p class="accordion-answer">
                    Online doctor consultation, also known as online medical consultation, is a method of virtually connecting patients and doctors. It is a simple and convenient way to obtain online doctor advice using doctor apps, telemedicine apps, or platforms, and the internet.
                  </p>
                </div>
              </article>

              <article class="accordion-panel">
                <input id="accordion-question-2" name="accordion" type="radio" />
                <label for="accordion-question-2">
                  Who are the consulting doctors?
                  <img src="../../assets/image/downarrow.png" alt="" class="open">
                  <img src="../../assets/image/xmark.svg" alt="" class="close">
                </label>
                <div class="accordion-body">
                  <p class="accordion-answer">
                    All of the doctors are licenced medical practitioners. Along with qualifying degrees, experience, research, and a track record of practise are all considered before a doctor is credentialed with Heka Healthy you and given access to answer patient questions.
                  </p>
                </div>
              </article>

              <article class="accordion-panel">
                <input id="accordion-question-3" name="accordion" type="radio" />
                <label for="accordion-question-3">
                  Will the doctor be able to help me with my problem?
                  <img src="../../assets/image/downarrow.png" alt="" class="open">
                  <img src="../../assets/image/xmark.svg" alt="" class="close">
                </label>
                <div class="accordion-body">
                  <p class="accordion-answer">
                    Our doctors will provide expert advice on your problem and assist you in determining the next steps, which may include additional tests, medication recommendations, or lifestyle changes. Few cases necessitate a face-to-face examination, and we do ask patients to share pictures or reports if possible in order to make an accurate diagnosis.</p>
                </div>
              </article>

              <article class="accordion-panel">
                <input id="accordion-question-4" name="accordion" type="radio" />
                <label for="accordion-question-4">
                  Is my consultation private with my doctor?
                  <img src="../../assets/image/downarrow.png" alt="" class="open">
                  <img src="../../assets/image/xmark.svg" alt="" class="close">
                </label>
                <div class="accordion-body">
                  <p class="accordion-answer">
                    Data privacy is a fundamental human right, and we at Heka Healthy You recognise it. Your medical history, as well as your online consultation with us, are completely private and confidential. We adhere to industry standards to ensure the security of your consultations.
                  </p>
                </div>
              </article>
              <article class="accordion-panel">
                <input id="accordion-question-5" name="accordion" type="radio" />
                <label for="accordion-question-5">
                  For how long is the consultation valid?
                  <img src="../../assets/image/downarrow.png" alt="" class="open">
                  <img src="../../assets/image/xmark.svg" alt="" class="close">
                </label>
                <div class="accordion-body">
                  <p class="accordion-answer">
                    In the case of a paid consultation, you may consult with your doctor for up to three days. If you choose a free consultation, follow-up questions are only valid for one day.                  </p>
                </div>
              </article>
              <article class="accordion-panel">
                <input id="accordion-question-6" name="accordion" type="radio" />
                <label for="accordion-question-6">
                  What happens if I don’t get a response from a doctor?
                  <img src="../../assets/image/downarrow.png" alt="" class="open">
                  <img src="../../assets/image/xmark.svg" alt="" class="close">
                </label>
                <div class="accordion-body">
                  <p class="accordion-answer">
                    If an online doctor does not respond, you will be entitled to a full refund.
                  </p>
                </div>
              </article>
            </div>
          </section>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</section>