<div class="policy-wrapper">
  <p class="p-heading">CANCELLATION / REFUND POLICY</p>

  <div class="privacy-content-wrapper">
    <p class="privacy-content-heading">FOR BLS TRAINING</p>
    <div class="privacy-content-heading">
      When you register for a class, you agree to these terms.
    </div>
    <div class="privacy-content">
      <ul>
        <li>
          Due to limited seating, we request that you cancel at least 48 hours before a scheduled class by emailing us
          at connect@hekahealthyyou.com and register your requests.
        </li>

        <li>If you have to cancel your class, we offer you a credit to your account if you cancel before the 48 hours,
          but do not offer refunds. You may use these credits towards any future class. However, if you do not cancel
          prior to the 48 hours, you will lose the payment for the class. The owner has the only right to be flexible
          here.</li>

        <li>
          Cancellations made 7 days or more in advance of the event date, will receive a 100% refund. Cancellations made
          within 3 - 6 days will incur a 20% fee. Cancellations made within 48 hours to the event will incur a 30% fee.
          All the refunds shall be processed with deducting any bank / government charges that the company has incurred.
        </li>

        <li>
          You understand that you are holding a spot, so reservations for this event are non-refundable and
          non-transferable.
        </li>

        <li>
          All the Credit must be used within 90 days.
        </li>

        <li>
          Cancellations between 25-72 hours before the event may be transferred to a different
          date/time of the same class.
        </li>

        <li>
          Cancellation requests made within 24 hours of the class date/time may not receive a refund
          nor a transfer.
        </li>
      </ul>
    </div>



    <p class="privacy-content-heading">Lab Test</p>
    <div class="privacy-content-heading">
      General Terms & Conditions
    </div>
    <div class="privacy-content">
      <ul>
        <li>
          Medical tests specified in the health check-up package are conducted as a screening procedure for early
          detection.
        </li>

        <li>
          The health check-up package cannot be split between two or more people.
        </li>

        <li>
          Some medical tests are centre dependent; tests may vary from centre to centre.
        </li>

        <li>
          Some medical tests may not be conducted if the person receiving the tests reports with any contra indications
          medical or otherwise.
        </li>

        <li>
          CT scan will be aborted if the beneficiary does not have stable pulse rate / Breath hold for 20 seconds/
          raised creatine level/any contra indication.
        </li>

        <li>
          All inclusions in package and the rate are subject to change without prior notice.
        </li>

        <li>
          A refund for any service cancelled less than twelve (12) hours before the scheduled time of testing shall be
          in the sole discretion of the Lab Manager whose decision shall be final.
        </li>
        <li>
          There will be no refund once specimen collection and/or processing of the samples has begun.
        </li>
        <li>
          HHY is not responsible for the costs of any repeat or additional testing. The costs associated with any repeat
          testing or additional testing will be borne solely by the client.
        </li>
        <li>
          If the total value of all the tests/packages in the cart is Equal to or More than Rs. 2000/-, then there will
          be no home collection charges levied.
        </li>

      </ul>
    </div>

    <div class="privacy-content-heading">
      Cancellation Policy
    </div>
    <div class="privacy-content">
      <ul>
        <li>
          A diagnostic/ lab test can be cancelled anytime four hours before scheduled pick up time. (9:00 AM – 7:00 PM).
          Any Orders scheduled before 9:00 AM and 7:00 PM needs to be cancelled 12 hours before scheduled time.
        </li>

        <li>
          Services that are booked online may only be cancelled online through our Website. Any cancellation requests
          via telephone are not valid.
        </li>
      </ul>
    </div>

    <p class="privacy-content-heading">Refund Process: All the refunds are processed minus the bank charges.</p>
    <p class="privacy-content-heading">Lab Tests:</p>
    <div class="privacy-content-heading">
      In case the claim is found to be valid, Refund will be made as mentioned below:
    </div>
    <div class="privacy-content">
      <ul>
        <li>
          A full refund will be processed of any fees paid, less bank charges, to secure an online booking, if a request
          for a cancellation of the service is made to QDL at least twelve (12) hours prior to the scheduled time of
          testing.
        </li>

        <li>
          Order placed through online wallet will be credited to the wallet; and Order placed through cash on delivery
          will be refunded through fund transfer to customer bank account.
        </li>

        <li>
          Approved refunds will be processed within 5-7 business days.
        </li>

        <li>
          Refund requests must include the name of the attendee and/or transaction number.
        </li>
      </ul>
    </div>

    <div class="privacy-content-heading">
      Online Consultation:
    </div>
    <div class="privacy-content">
      <ul>
        <li>
          In case of online consultation, a customer will be eligible to raise a request for Refund only in case the
          consultation query is not replied within specified timeline.
        </li>

        <li>
          The customer is required to raise the Refund request with our customer care within 72 (seventy-two) hours from
          the time of submission of query or receiving of response. The request for the Refund will be validated by the
          customer care team.
        </li>

        <li>
          In case of valid Refund, the same will be done by crediting the bank account of the customer. Refund process
          shall be completed within 10 (ten) days from the date of submission of the request for Refund.
        </li>
      </ul>
    </div>

    <p style="margin-top: 10px;">For any further Refund related information, please write to - <a
        href="mailto:connect@hekahealthyyou.com">connect@hekahealthyyou.com</a></p>
  </div>
</div>