<div class="container-fluid" style="padding: 0;">
	<div class="header-banner">
	</div>
</div>
<section class="bls-faq">
    <div class="container">
        <div class="row">
            
            <div class="col-md-8">
                <div class="bls-faq-right">
                    <div class="faq-content">
                        <h6></h6>
                    </div>

                    <section class="container">
                        <div class="accordion">
                            <h2 class="title">Frequently Asked Questions</h2>
                            <article class="accordion-panel">
                                <input id="accordion-question" name="accordion" type="radio" checked />
                                <label for="accordion-question">
                                    Do your caregivers undergo background verification?
                                    <img src="../../assets/image/downarrow.png" alt="" class="open">
                                    <img src="../../assets/image/xmark.svg" alt="" class="close">
                                </label>
                                <div class="accordion-body">
                                    <p class="accordion-answer">
                                        All our caregivers undergo diligent background verifications. We ensure the
                                        reliability of our caregivers through Aadhar based criminal, police, civil, and
                                        employment verifications.
                                    </p>
                                </div>
                            </article>

                            <article class="accordion-panel">
                                <input id="accordion-question-2" name="accordion" type="radio" />
                                <label for="accordion-question-2">
                                    How do you maintain the quality of your caregiver services?
                                    <img src="../../assets/image/downarrow.png" alt="" class="open">
                                    <img src="../../assets/image/xmark.svg" alt="" class="close">
                                </label>
                                <div class="accordion-body">
                                    <p class="accordion-answer">
                                        Heka follows well-defined clinical protocols at par with hospital standards. Our
                                        experienced and certified caregivers are regularly trained to provide quality
                                        care while following standardized infection prevention and control policies
                                    </p>
                                </div>
                            </article>

                            <article class="accordion-panel">
                                <input id="accordion-question-3" name="accordion" type="radio" />
                                <label for="accordion-question-3">
                                    Who can use Homecare services?
                                    <img src="../../assets/image/downarrow.png" alt="" class="open">
                                    <img src="../../assets/image/xmark.svg" alt="" class="close">
                                </label>
                                <div class="accordion-body">
                                    <p class="accordion-answer">
                                        Most people who use our Homecare services are
                                        Senior citizens who need help with daily activities. Patients who need constant
                                        attention or vitals monitoring. People who need medication reminder or
                                        assistance in feeding, using the toilet, etc
                                    </p>
                                </div>
                            </article>

                            <article class="accordion-panel">
                                <input id="accordion-question-4" name="accordion" type="radio" />
                                <label for="accordion-question-4">
                                    Can my caregiver be replaced?
                                    <img src="../../assets/image/downarrow.png" alt="" class="open">
                                    <img src="../../assets/image/xmark.svg" alt="" class="close">
                                </label>
                                <div class="accordion-body">
                                    <p class="accordion-answer">
                                        Heka values your comfort and wellbeing. So Yes ,we can replace your caregiver as
                                        soon as you mentioned us.
                                    </p>
                                </div>
                            </article>
                            <article class="accordion-panel">
                                <input id="accordion-question-5" name="accordion" type="radio" />
                                <label for="accordion-question-5">
                                    Will I get a refund if I stop my caregiver services?
                                    <img src="../../assets/image/downarrow.png" alt="" class="open">
                                    <img src="../../assets/image/xmark.svg" alt="" class="close">
                                </label>
                                <div class="accordion-body">
                                    <p class="accordion-answer">
                                        In that situation, we will refund the due amount within 2-4 working days
                                    </p>
                                </div>
                            </article>
                            <article class="accordion-panel">
                                <input id="accordion-question-6" name="accordion" type="radio" />
                                <label for="accordion-question-6">
                                    Are your caregivers available for 24 hours care?
                                    <img src="../../assets/image/downarrow.png" alt="" class="open">
                                    <img src="../../assets/image/xmark.svg" alt="" class="close">
                                </label>
                                <div class="accordion-body">
                                    <p class="accordion-answer">
                                        Our caregivers are available for 12 or 24-hour services. You can select the
                                        number of days and the time duration for which you need the services. </p>
                                </div>
                            </article>
                        </div>
                    </section>

                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</section>