<!--heka download section-->
<section class="subscribeand-download">
	<div class="container">
		<h4 class="download-way-heading">2 ways to download the App easily</h4>
		<div class="sbuscribe-wrapper">
			<div class="subscribe-wrapper-2 sbextrade">
				<p class="para-text">QR Code to download <br>
					<b>Heka Healthy You</b> App
				</p>
				<div class="subscribe-wrapper-2">
					<img src="../../assets/image/barcode.png" alt="">
				</div>
			</div>
			<div class="subscriber-divider">
				<div class="dividermain">
					<div class="divider-1"></div>
					<div class="divider-2">OR</div>
					<div class="divider-1"></div>
				</div>
			</div>
			
			<div class="subscribe-wrapper-1">
				<!-- <img src="../../assets/image/care.png" alt="" class="blessimg"> -->
				<div class="download-subscribe">
					<p>Download <b>Heka Healthy You</b> App and <br>
						start <b>“healthy you’’</b> journey</p>
					<p>Get the link to download the app</p>
					<div>
						<input type="text" name="" id="" class="download-subscribe-input" placeholder="+91" maxlength="10" />
						<input type="button" value="Submit" class="download-subscribe-button">
					</div>
					<ul class="appgoogle-logo">
						<li>
							<a href="">
								<img src="../../assets/image/googleplay.png" alt="" class="google-storeimg">
							</a>
						</li>
						<li>
							<a href="">
								<img src="../../assets/image/appstore.png" alt="" class="app-storeimg">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!--heka download section end-->

<section class="footer-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-md-6">
				<div class="left-footer">
					<h4 class="footer-sb-heading">Quick Liks</h4>
					<ul class="quick-links">
						<!-- <li><a href routerLink="/home">Home</a></li> -->
						<li><a href routerLink="/about-us"(click)="change_route('about-us')">About Us</a></li>
						<li><a href routerLink="/services"(click)="change_route('services')">Our Services</a></li>
						<li><a href routerLink="/contact-us"(click)="change_route('contact-us')">Contact Us</a></li>
						<li><a href routerLink="/contact-us"(click)="change_route('contact-us')">Career</a></li>
						<li><a href routerLink=""(click)="change_route('')">Gallery</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-5 col-md-6">
				<div class="center-footer">
					<h4 class="footer-sb-heading">Our Services</h4>
					<ul class="footer-services">
						<li><a href routerLink="/safety-training" (click)="change_route('safety-training')">Life Support Training</a></li>
						<li><a href routerLink="/elderlycare"(click)="change_route('elderlycare')">Elderly Care</a></li>
						<li><a href routerLink="/pregnancy-care"(click)="change_route('pregnancy-care')">Pregnancy Care</a></li>
						<li><a href routerLink="/operative-care"(click)="change_route('operative-care')">Operative Care</a></li>
						<li><a href routerLink="/doctor-consultation"(click)="change_route('doctor-consultation')">Doctor Consultantion</a></li>
						<li><a href routerLink="/lab-test"(click)="change_route('lab-test')">Book A Lab Test</a></li>
						<li><a href routerLink="/service-comingsoon"(click)="change_route('service-comingsoon')">Inhouse Patient Care</a></li>
						<li><a href routerLink="/medical-astrology"(click)="change_route('medical-astrology')">Medical Astrology</a></li>
						<li><a href routerLink="/service-comingsoon"(click)="change_route('service-comingsoon')">Oversease Services</a></li>
						<li><a href routerLink="/service-comingsoon"(click)="change_route('service-comingsoon')">General Wellness</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-6">
				<div class="left-footer">
					<h4 class="footer-sb-heading">Resources</h4>
					<ul class="quick-links">
						<li><a href="#">News</a></li>
						<li><a href="#">Subscribe</a></li>
						<li><a routerLink="/term-condition"(click)="change_route('term-condition')">Terms of use</a></li>
						<li><a href routerLink="/privacy-policy"(click)="change_route('privacy-policy')">Privacy policy</a></li>
						<li><a href routerLink=""(click)="change_route('')">Blog</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<h4 class="footer-sb-heading">Contact Us</h4>
				<div class="commin-img-cnt-footer">
					<img src="../../assets/image/emailnew.png" style="height: 19px;" alt="">
					<p class="footer-para">connect@hekahealthyyou.com</p>
				</div>
				<div class="commin-img-cnt-footer">
					<img src="../../assets/image/whatsappnew.png " style="height: 19px;" alt="">
					<p class="footer-para">+91 80100 81010, +91 80100 91010</p>
				</div>
				<div class="commin-img-cnt-footer">
					<img src="../../assets/image/callnew.png" style="height: 19px;" alt="">
					<p class="footer-para"> <a href="tel:8010091010" style="text-decoration: none; color: #000;">+91 80100 91010,</a>
						<a href="tel:80100 81010" style="text-decoration: none; color: #000;">+91 80100 81010</a></p>
				</div>
				<ul class="footersocial">
					<li><a href="https://www.facebook.com/Heka-Healthy-You-112554331309941"><img src="../../assets/image/facebooknew.png" alt=""></a></li>
					<li><a href="https://www.instagram.com/hekahealthyyou/"><img src="../../assets/image/instagram.svg" alt=""></a></li>
					<li><a href=""><img src="../../assets/image/linkedin.svg" alt=""></a></li>
					<li><a href=""><img src="../../assets/image/googles.svg" alt=""></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!--footer section end-->