<div class="container">
  <div class="spacing">
    <h2 class="main-heading">EMERGENCY & FIRST AID</h2>
    <p class="safety-para">
      Safety, Health and Welfare at Work, is important, as the employee’s and even the employer’s safety and
      occupational
      health are important for effective and efficient output in the organisation.
    </p>

    <p class="safety-para">When an employee collapses with severe pain or is bleeding severely, urgent care, to preserve
      life, or prevent
      further serious injury, is required until a nurse, doctor, or another person, such as a trained emergency medical
      technician, can take over the situation.</p>
  </div> 
</div>
<section class="aidkit-1">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="left-spport">
        <img src="../../assets/image/lifesupport.png" alt="">
      </div>
    </div>
    <div class="col-md-8">
      <div class="right-spport">
        <p class="safety-para">Incidents of SCA (Sudden Cardiac Arrest) are rising due to Post COVID Complications, Work pressure, Sedentary
          Lifestyle, Diabetes, Hypertension, Increased Consumption of Alcohol and Smoking within the population Acc to
          reports, without immediate treatment only 5% of people survive SCA. Survival rates above 50% have been
          achieved in places those have successfully implemented BLS (Basic Life Support) +AED (Automated external
          Defibrillator) programs. Survival rate can climb even higher when the person is treated within first few
          minutes of cardiac arrest.</p>
      </div>
    </div>
  </div>
</div>
</section>

<section class="aidkit-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="right-spport">
          <p class="safety-para">Thus, to provide a safer and healthier environment, the knowledge and proper training of first aid is a must.
            The Government of India has started several initiatives towards making workplaces safer for workers and
            employees, making them more employee friendly.</p>
          <p class="safety-para">We have aligned our vision to build a community of first responders, which can access you at the time of
            emergency through our mobile app and existing partner network, so that suitable help can be made available
            within minutes of reporting the incidence.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="left-spport">
          <img src="../../assets/image/firstaidsoc.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <h2 class="main-heading">COMMON WORKPLACE INJURIES</h2>
  <div class="row">
    <div class="col-sm-3">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/road-saf-1.png" alt=""></div>
        <h6>Sudden Cardiac Arrests</h6>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/road-saf-2.png" alt=""></div>
        <h6>Choking</h6>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/road-saf-3.png" alt=""></div>
        <h6>Drowning</h6>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/road-saf-4.png" alt=""></div>
        <h6>Burns</h6>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/road-saf-5.png" alt=""></div>
        <h6>Slips & Strains</h6>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/road-saf-6.png" alt=""></div>
        <h6>Fractures</h6>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/road-saf-7.png" alt=""></div>
        <h6>Heat Exhaustion</h6>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="engage-main">
        <div class="engageimg-div"><img src="../../assets/image/road-saf-8.png" alt=""></div>
        <h6>Allergic Reactions</h6>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="main-heading">WHY TRAINING IS IMPORTANT</h2>
  <div class="spacing">
    <img src="../../assets/image/firstaidroasmap.png" alt="" class="roadmap-fristkit">
  </div> 
</div>

<div class="container">
  <div class="spacing">
    <h2 class="main-heading">WE TRAIN FOR THE FOLLOWING</h2>
    <h6>Emergency Care & First Aid</h6>
    <ul class="roadsafety-list">
      <li>Hands on simulation Training for First Aid</li>
      <li>Basic Life Support and Trauma Care training</li>
      <li>Differentiate between Sudden Cardiac Arrest v/s Heart Attack</li>
      <li>How to handle Sudden Cardiac arrests</li>
      <li>Brain Stroke</li>
      <li>Choking and Drowning</li>
      <li>Corrective techniques of use of AED’s</li>
      <li>Use of Barrier Devices</li>
    </ul>
  </div>
  <div class="spacing">
    <h6>Health Check-up & Monitoring</h6>
    <ul class="roadsafety-list">
      <li>Periodic occupational health screenings for the employees</li>
      <li>Health hazards assessment to job functions</li>
      <li>Personal health factors for execution safe job functions deliverables at workplace</li>
      <li>Consultation with doctors to reduce health risks and promote job safety, health, and fitness.</li>
    </ul>
  </div>
</div>

<section class="booknewawssion">
  <div class="container">
    <p class="sessioncall-para">What are you waiting for?</p>
    <h4 class="sessioncall-heading">Book A Session Now</h4>
    <button class="sessioncall-btn" (click)="showRequestcall()">Schedule A Call</button>
  </div>
</section>

<!--request a call popup-->

<div class="request-call" id="showcallpopup">
  <div class="sub-req-contetn">

      <div class="req-call-content">
          <div class="lets-talk">
              <h6>Let's Talk</h6>
              <button class="close-bnt" (click)="closeCallReq()" id="showcallpopup">X</button>
          </div>
          <div><input type="text" [(ngModel)]="callInfo.name" placeholder="Name" class="reqcall-input" maxlength="26">
          </div>
          <div><input type="text" [(ngModel)]="callInfo.email" placeholder="Email" class="reqcall-input"></div>
          <div><input type="text" [(ngModel)]="callInfo.mobile" placeholder="Enter your Number" class="reqcall-input"
                  maxlength="10"></div>
          <div><button type="button" class="reqcall-btn" (click)="requestCall()">Request a call back </button></div>
      </div>
  </div>

</div>